.about-top {
  width: 60%;
  text-align: right;
  margin: 0 auto;
}

.about-top img {
  height: auto;
  max-width: 100%;
  float: right;
  margin-right: 45%;
  margin-left: 5%;
  border: 2px solid #868784;
  border-radius: 50%;
}

.about-list {
  list-style-type: none;
  margin-top: 80px;
  margin-bottom: 200px;
}

.about-alt {
  float: left;
  margin-right: 5%;
  margin-left: 37%;
}

.vl {
  border-left: 1px solid #868784;
  height: 150px;
  margin-left: 45.5%;
}

ul h2,
ul p {
  margin: 0;
}

@media only screen and (max-width: 1621px) {
  .about-list li {
    text-align: left;
  }

  .about-alt {
    margin-left: 10%;
  }

  .vl {
    border-left: 1px solid #868784;
    height: 200px;
    margin-left: 40%;
  }
}
